@import "common-bootstrap/bootstrap/variables";

.navbar{
  margin-bottom: 0;
}

.nav-stacked li a{
  border-radius: 0;
}

#dashboard-panel{
  border:1px solid $brand-primary;
  padding:0;
}

.btn-remove.btn.btn-danger{
  padding: 3px !important;
  font-weight: 300;
}