@import "common-bootstrap/bootstrap";

//*{
//  font-family: 'Gentium Basic', serif;
//}

#content-area {
  padding-top: 50px;
  display: none;
}

#user-sidenav {
  z-index: 123;
  padding: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 100%;
    width: 215px;
    background-color: #2a2a2a;
    z-index: 1;
    display: none;
    left: -215px;
    transition: 0.5s;
    li {
      width: 100%;
    }
  }
}

.container-fluid {
  transition: 0.5s;
  margin-left: 0;
}