@import "common-bootstrap/bootstrap";

//*{
//  font-family: 'Gentium Basic', serif;
//}

#content-area{
  padding-top: 50px;
  display: none;
}

#user-sidenav{
  z-index: 123;
  padding:0;
  display: none;
}