@import "common-bootstrap/bootstrap/variables";

body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
}

.tab-pane {
  .list-group {
    li {
      margin: 10px 0;
      border-bottom: 2px dashed #F5F5F5;
      &:first-child {
        border: none;
      }
      .glyphicon {
        font-size: 20px;
      }
      .badge {
        margin: 8px;
      }
    }
  }
}

.list-group-item {
  border: none;
}

.article-list-title h4 {
  a {
    letter-spacing: 0.05em;
    color: $brand-dark;
    font-size: 1.2em;
    margin: 0 0 0.2em;
    font-weight: 600;
    font-family: 'Monaco', 'Lucida Console', monospace;
  }
}

.article-list-content {
  height: 99px;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
  * {
    font-family: 'Monaco', 'Lucida Console', monospace;
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 10px;
  }
  //img {
  //  display: none;
  //}
}

.thumbnail {
  .jumbotron {
    padding: 0;
    background-color: lighten(#999999, 33%);
    margin-bottom: 0;
    img {
      width: 100%;
    }
  }
}

.page-header {
  margin-top: 0;
  h2 {
    margin: 0;
  }
}

.nav[role='tablist'] {
  li {
    border: none;
    transition: 1s;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    a {
      border: none;
      color: #b4b4b4;
    }
  }

  li.active, li:hover {
    border: none;
    border-bottom: 2px solid #666;
    a {
      border: none;
      color: #999;
    }
  }
}

.nav.nav-tabs {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  letter-spacing: 2px;
}

.show-more {
  transition: 0.3s;
  img {
    width: 50px;
    height: 50px;
    display: none
  }
}