@import "common-bootstrap/bootstrap/variables";

.tab-pane {
  .list-group {
    li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      &:first-child {
        border-top: none;
      }
      .badge {
        background-color: darken($brand-info, 10%);
      }
    }
  }
}

.article-list-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.article-list-content {
  height: 90px;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
  * {
    font-size: 14px;
    line-height: 14px;
  }
  img {
    display: none;
  }
}

.thumbnail {
  .jumbotron {
    padding: 0;
    background-color: lighten(#999999, 33%);
    margin-bottom: 0;
    img {
      width: 100%;
    }
  }
}

.page-header {
  margin-top: 0;
  h2 {
    margin: 0;
  }
}