@import "common-bootstrap/bootstrap/variables";

body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
}

.tab-pane {
  .list-group {
    li {
      margin: 10px 0;
      border-bottom: 2px solid #F5F5F5;
      padding-left: 70px;
      padding-right: 70px;
      .badge.agreement {
        //background-color: $brand-primary;
      }
      .glyphicon {
        font-size: 20px;
        //color: $brand-primary;
      }
    }
  }
}

.list-group-item {
  border: none;
}

.article-list-title.h2 {
  color: #222;
  font-size: 1.8em;
  margin: 0 0 0.2em;
  font-family: 'Open Sans', serif;
  font-weight: 700;
}

.article-list-content {
  * {
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 10px;
  }
  height: 99px;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
  img {
    display: none;
  }
}

.thumbnail {
  .jumbotron {
    padding: 0;
    background-color: lighten(#999999, 33%);
    margin-bottom: 0;
    img {
      width: 100%;
    }
  }
}

.page-header {
  margin-top: 0;
  h2 {
    margin: 0;
  }
}

.nav[role='tablist'] {
  li {
    border: none;
    transition: 1s;
    border-bottom: 1px solid #fff;
    letter-spacing: 1.1em;
    a {
      border: none;
      color: #777;
    }
  }

  li.active, li:hover {
    border: none;
    border-bottom: 1px solid #b4b4b4;
    a {
      border: none;
      color: $brand-primary;
    }
  }
}

.nav.nav-tabs {
  padding: 40px 70px 1px;
}