@import "common-bootstrap/bootstrap/variables";
.navbar-toggle .icon-bar {
  background: #333;
}
nav{
  z-index: 999;
}

.navbar {
  .nav {
    li {
      transition: 1s;
      border-bottom: 1px solid rgba(0,0,0,0);
      a {
        transition: 1s;
        color: #888;
        font-weight: 500;
      }
    }
    li.active, li:hover {
      border-bottom: 1px solid #eeeeee;
      a {
        color: #fff;
      }
      .glyphicon{
        color: #5cb85c;
      }
    }
  }
}
#navbar[aria-expanded="false"]{
  background-color: rgba(0,0,0,0);
}
#navbar[aria-expanded="true"]{
  background-color: rgba(0,0,0,0.8);
}
