@import "common-bootstrap/bootstrap/variables";

.sidenav-container {
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  width: 300%;
  .sidenav-info {
    position: relative;
    img {
      width: 70px;
      height: 70px;
      border: 3px solid #fff;
      border-radius: 50%;
    }
    h1{
      font-size: 20px;
    }
    h4 {
      width: 80%;
      margin-left: 10%;
      font-size: 15px;
    }
    a.btn{
      visibility: hidden;
    }
  }
  #dropdownMenu1 {
    position: relative;
    left: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 20px;
  }
  .toggle {
    position: relative;
    left: 85%;
    visibility: visible;
    color: #fff;
    transition: 0.5s;
    z-index: 125;
  }
  @media screen and (min-width: 768px) {
    .toggle {
      left:0;
      visibility: visible;
    }
    .sidenav-info {
      position: relative;
      img {
        width: 140px;
        height: 140px;
        border: 3px solid #fff;
        border-radius: 50%;
      }
      h1{
        font-size: 32px;
      }
      h4 {
        width: 80%;
        margin-left: 10%;
        font-size: 20px;
      }
      a.btn{
        visibility: visible;
      }
    }
  }
}

