@import "common-bootstrap/bootstrap/variables";

.sidenav-container {
  margin: 0;
  padding: 0;
  //background: url("/images/bg9.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  width: 300%;
  //transition: all 2s 0.5s;
  .sidenav-info {
    position: relative;
    font-family: 'Playfair Display', serif;
    img {
      width: 140px;
      height: 140px;
      border: 3px solid #fff;
      border-radius: 50%;
    }
    h4 {
      width: 80%;
      margin-left: 10%;
    }
    a.btn{
      //width: 100px;
      //color:#fff;
      //background-color: transparent;
      //border-radius: 0;
      //border-color: #fff;
    }
  }
  #dropdownMenu1 {
    position: relative;
    left: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 20px;
  }
}

